<table>
    <tr><th>First Name</th><td><div class="editable"><%=entry.get('firstName') %></div></td></tr>
    <tr><th>Last Name</th><td><div class="editable"><%=entry.get('lastName') %></div></td></tr>
    <tr><th>Full Name</th><td><%=entry.getFullName()%></td></tr>
    <% if (typeof entry.get('birthday') !== "undefined") { %>
      <tr><th>Birthday</th><td><%=entry.get('birthday') %></td></tr>
    <% } %>
    <% for (var i = 0; i < entry.get('emails').length; i++) { %>
      <tr><th>Email # <%=i+1 %></th><td><%= entry.get('emails')[i].email %> (<%= entry.get('emails')[i].type %>)</td></tr>
    <% } %>
</table>